* {
    background-color: black;
    color: #FFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border: 2px solid #FFF;
    min-height: 25px;
    min-width: 25px;
    font-weight: 800;
}

button:active {
    background-color: #FFF;
    color: black;
}

.contador {
    border: 2px solid #FFF;
    min-height: 25px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px;
    margin-bottom: 30px;
}

span {
    font-weight: 800;
}

.btn {
    background-color: #fff;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100px;
    border-radius: 30px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover {
    transition: .5s;
    background-color: black;
    color: #FFF;
}

.btn:active {
    background-color: #FFF;
    color: black;
    font-weight: 2000;
}

div {
    max-width: 90%;
    text-align: center;
    padding: 30px;
}

div img {
    padding: 10px;
    max-width: 90%;
}