

.container{
  max-width: 400px;
  border: 5px solid black;
  margin: 0;
  display: flex;
  padding: 1,5
;
}

.item{
  background-color: green;
  margin: 5px;
  text-align: center;
  color: white;
}

.flex-start{
  justify-content: flex-start;
}

.flex-end{
  justify-content: flex-end;

}