* {
    font-family: "Open Sans", sans-serif;
    color: aliceblue;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 5px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

 :checked+label {
    text-decoration: line-through;
    color: rgb(175, 173, 173);
}

button:active {
    color: #FFF;
    background-color: #000;
    border: 1px solid #fff;
}